@import "themes/dark-theme";
@import "themes/light-theme";
@import "variables/global";
@import "reset";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh; // растягиваем на всю высоту
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  font: var(--font-xl);
  margin-bottom: var(--gap-m);
}

h2 {
  font: var(--font-l);
  margin: var(--gap-l) 0 var(--gap-m) 0;
}

p {
  margin-bottom: var(--gap-m);
}

ul {
  margin: var(--gap-m) 0;
  padding-left: var(--gap-l);
}

li {
  margin-bottom: var(--gap-s);
}
